@media screen and (max-width: 575px) {
  .name {
    font-weight: bold;
  }

  .nav {
    ul {
      flex-direction: column;

      font-weight: bold;
    }
  }

  .banner {
    padding-top: 250px;
  }

  .menu {
    flex-direction: column;
  }

  .low-menu {
    ul {
      flex-direction: column;
    }
  }
}
