.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px 30px;

  border-radius: 5px;

  &:hover {
    background: #fff3;
    backdrop-filter: blur(2px);
  }
}

.btn-green {
  color: white;

  background: $green;
}

.btn-clean {
  border: 1px solid white;
}

.btn-outline-gray {
  width: fit-content;
  padding: 16px 30px;

  color: $dark-gray;

  border: 1px solid $dark-gray;
}

.btn-rounded {
  width: fit-content;

  padding: 16px 40px;

  border-radius: 32px;
}

.btn-red {
  color: white;

  background: $red;
}

.btn-purple {
  color: white;

  background: $purple;
}
