.bg-footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 72px;
}

.item {
  h4 {
    margin-bottom: 15px;
  }

  li {
    color: $gray;
  }
}

.item-subscribe {
  ul {
    display: flex;
    gap: 24px;
  }
}

.line-1 {
  width: 100%;
  height: 1px;

  background-color: $gray;
}

.low-menu {
  padding-top: 40px;
  padding-bottom: 49px;

  ul {
    display: flex;
    gap: 16px;
  }
}
